@model PRSClassesManagement.UsersManagement.User
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container mt-200">
    @using (Html.BeginForm("changepassword", "Users", new { id = ViewBag.userId }, FormMethod.Post, new { enctype = "plain-text" }))
    {
        <div class="container-border col-lg-6 offset-lg-3 col-sm-12 " style="margin-top: 7%">
            <div class="form-group">
                @Html.TextBoxFor(m => m.Password, null, new { @class = "form-control", @type = "password", placeholder = "Enter Your New Password" })
                <div class="text-center">
                    @Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger text-center" })
                </div>
            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.ConfirmPassword, null, new { @class = "form-control", @type = "password", placeholder = "Confirm Your Entered Password" })
                <div class="text-center">
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "text-danger text-center" })
                </div>
            </div>
            <button type="submit" class="btn btn-success">Update Password</button>
        </div>
    }
    <div class="col-lg-6 offset-md-3 mt-50">
        @Html.ActionLink("Back To Home", "Index", "Home")
    </div>
</div>
