@model PRS.Models.LoginViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title Login</title>
    <link href="@Url.Content("~/Content/Bootstrap-4/css/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/fontawesome/css/all.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Bootstrap-4/css/mdb.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/Bootstrap-4/css/style.css")" rel="stylesheet">
</head>
<body>
    <div class="container" style="margin-top: 8rem">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                @using (Html.BeginForm("Login", "Users", new { c = ViewBag.Controller, a = ViewBag.Action }, FormMethod.Post, new { id = "loginform", enctype = "plain/text", @class = "border border-light p-5 box-shadow" }))
                {
                    <p class="h4 mb-4 text-center">Personal Recommend System</p>
                    <!-- Material input -->
                    <div class="md-form">
                        <i class="fas fa-envelope fa-lg prefix"></i>
                        @Html.TextBoxFor(m => m.Email, null, new { @class = "form-control", id = "email", type = "email" })
                        @Html.LabelFor(m => m.Email, null, new { @for = "email", @class = "col-md-5" })
                        <div class="text-center">
                            @Html.ValidationMessageFor(m => m.Email, null, new { @class = "text-danger text-center" })
                        </div>
                    </div>
                    <div class="md-form">
                        <i class="fas fa-lock fa-lg prefix"></i>
                        @Html.TextBoxFor(m => m.Password, null, new { @class = "form-control", id = "password", type = "password" })
                        @Html.LabelFor(m => m.Password, null, new { @for = "password", @class = "col-md-5" })
                        <div class="text-center">
                            @Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger text-center" })
                        </div>
                    </div>
                    <div class="d-flex justify-content-around">
                        <div>
                            <div class="custom-control custom-checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe, new { @id = "defaultLoginFormRemember", @class = "custom-control-input" })@Html.LabelFor(m => m.RememberMe, new { @for = "defaultLoginFormRemember", @class = "custom-control-label" })
                            </div>
                        </div>
                        <div>
                            <a href="@Url.Action("PasswordRecovery","Users")">Forgot password...?</a>
                        </div>
                    </div>
                    <div class="mt-4 mb-4">
                        <button class="btn btn-outline-blue-grey btn-border btn-block toggle-disabled" type="submit" disabled="disabled">Sign in</button>
                    </div>
                    <p class="text-center">
                        Not a member?
                        <a href="@Url.Action("Register","Users")">Register Your Self...!</a>
                    </p>
                    <!-- Social login -->
                    <div class="row">
                        <div class="col-md-5 col-sm-12 offset-md-1">
                            <a href="" class="light-blue-text mx-2">
                                <i class="fab fa-facebook-f icon facebook-style"><span class="font-family ml-2">SigIn in With Facebook</span></i>
                            </a>
                        </div>
                        <div class="col-md-5">
                            <a href="" class="light-blue-text mx-2">
                                <i class="fab fa-google-plus icon google-style"><span class="font-family ml-2">SignIn With Google</span></i>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    @* Script Start From Here *@
    <script type="text/javascript" src="@Url.Content("~/Content/Bootstrap-4/js/jquery-3.3.1.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Bootstrap-4/js/popper.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Bootstrap-4/js/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Bootstrap-4/js/mdb.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>

    <script type="text/javascript">
        $(document).on('change keyup', '.form-control', function (e) {
            var Disabled = true;
            $(".form-control").each(function () {
                var value = this.value;
                if ((value) && (value.trim() != '')) {
                    Disabled = false;
                } else {
                    Disabled = true;
                    return false;
                }
            });

            if (Disabled) {
                $('.toggle-disabled').prop("disabled", true);
            } else {
                $('.toggle-disabled').prop("disabled", false);
            }
        })

    </script>
</body>
</html>
