@model PRS.Models.Email
@{
    ViewBag.Title = "PasswordRecovery";
    Layout = null;
}
<link href="~/Content/fontawesome/css/all.min.css" rel="stylesheet" />
<!-- Bootstrap core CSS -->
<link href="~/Content/Bootstrap-4/css/bootstrap.min.css" rel="stylesheet" />
<!-- Material Design Bootstrap -->
<link href="~/Content/Bootstrap-4/css/mdb.min.css" rel="stylesheet" />
<style>












    .container-border {
        border: solid 1px #fff5ee;
        padding: 40px 50px;
        margin-top: 16vh;
        -webkit-box-shadow: 2px 1px 25px 3px rgba(0,0,0,0.75);
        -moz-box-shadow: 2px 1px 25px 3px rgba(0,0,0,0.75);
        box-shadow: 2px 1px 25px 3px rgba(0,0,0,0.75);
    }
</style>
<div class="container">

    @using (Html.BeginForm("PasswordRecovery", "Users", FormMethod.Post, new { }))
    {
        @Html.AntiForgeryToken()
        <div class="row mt-5">
            <div class="col-md-6 mx-auto text-center">
                <h2>Recover Your Password</h2>
                <div>
                    <i style="color: red; font-weight: bold; font-size: 18px;">Please Enter Your Valid Email Address </i>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 mx-auto container-border">
                <div class="md-form">
                    <i class="fa fa-envelope fa-lg prefix"></i>
                    @Html.TextBoxFor(m => m.email, null, new { id = "emaill" })
                    @Html.LabelFor(m => m.email, new { @for = "emaill" })
                    @Html.ValidationMessageFor(m => m.email, null, new { @class = "text-danger" })
                </div>
                <br />
                @if (ViewBag.Error != null)
                {
                    <a class="btn btn-danger" href="@Url.Action("PasswordRecovery")"><span class="fa fa-rotate-180"></span> RETRY</a>
                    <hr />
                    <div class="alert alert-danger">@ViewBag.Error</div>
                }
                else if (ViewBag.Success != null)
                {
                    <a class="btn btn-success" href="@Url.Action("Login")">Goto Login page</a>
                    <hr />
                    <div class="alert alert-success">@ViewBag.Success</div>
                }
                else
                {
                    <button class="btn btn-default" type="submit">Send Mail</button>
                }
            </div>
        </div>
    }
</div>
<!-- SCRIPTS -->
<!-- JQuery -->
<script src="~/Content/Bootstrap-4/js/jquery-3.3.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script src="~/Content/Bootstrap-4/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script src="~/Content/Bootstrap-4/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script src="~/Content/Bootstrap-4/js/mdb.min.js"></script>
